<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">
    Smart Cardápio
    </a>

    <ul class="nav mr-auto">
        <li class="nav-item">
            <a class= 'nav-link' href="/admin/users">Usuários</a>
        </li>
        <li class="nav-item">
            <a class= 'nav-link' href="/admin/produtos">Produtos</a>
        </li>
      
    </ul>

    <ul class="nav ml-auto">
      
        <li class="nav-item">
            <a class= 'nav-link' href="/logout">Logout</a>
        </li>
    </ul>
</nav>